*.bkp
*.dtmp
docker_localfiles/*
.phpdoc/
docs/

src/phpDocumentor.phar
phpDocumentor.phar
www/public/phpdoc/index.html
www/public/phpdoc/classes/AdminRepositorios.html
www/public/phpdoc/classes/AdminUsuarios.html
www/public/phpdoc/classes/ApiRepositorios.html
www/public/phpdoc/classes/Configuracion.html
www/public/phpdoc/classes/Control.html
www/public/phpdoc/classes/Core.html
www/public/phpdoc/classes/CsvImportFile.html
www/public/phpdoc/classes/DB.html
www/public/phpdoc/classes/docweb-models-Identificador.html
www/public/phpdoc/classes/docweb-models-IdentificadorData.html
www/public/phpdoc/classes/docweb-models-Repositorio.html
www/public/phpdoc/classes/docweb-models-RepositorioData.html
www/public/phpdoc/classes/docweb-models-TipoRepositorio.html
www/public/phpdoc/classes/docweb-models-Usuario.html
www/public/phpdoc/classes/docweb-models-UsuarioData.html
www/public/phpdoc/classes/Email.html
www/public/phpdoc/classes/Fichero.html
www/public/phpdoc/classes/FileUserData.html
www/public/phpdoc/classes/ImportUsuariosRepo.html
www/public/phpdoc/classes/IRepositorioAdapter.html
www/public/phpdoc/classes/Login.html
www/public/phpdoc/classes/Principal.html
www/public/phpdoc/classes/RepoAdapterDW.html
www/public/phpdoc/classes/RepoAdapterLocal.html
www/public/phpdoc/classes/RepoUserData.html
www/public/phpdoc/classes/Sesion.html
www/public/phpdoc/classes/VistaComponentes.html
www/public/phpdoc/css/base.css
www/public/phpdoc/css/normalize.css
www/public/phpdoc/css/template.css
www/public/phpdoc/files/www-app-config-config.html
www/public/phpdoc/files/www-app-controllers-adminrepositorios.html
www/public/phpdoc/files/www-app-controllers-adminusuarios.html
www/public/phpdoc/files/www-app-controllers-apirepositorios.html
www/public/phpdoc/files/www-app-controllers-fichero.html
www/public/phpdoc/files/www-app-controllers-importusuariosrepo.html
www/public/phpdoc/files/www-app-controllers-login.html
www/public/phpdoc/files/www-app-controllers-principal.html
www/public/phpdoc/files/www-app-init.html
www/public/phpdoc/files/www-app-lib-configuracion.html
www/public/phpdoc/files/www-app-lib-control.html
www/public/phpdoc/files/www-app-lib-core.html
www/public/phpdoc/files/www-app-lib-csvimportfile.html
www/public/phpdoc/files/www-app-lib-db.html
www/public/phpdoc/files/www-app-lib-email.html
www/public/phpdoc/files/www-app-lib-fileuserdata.html
www/public/phpdoc/files/www-app-lib-irepositorioadapter.html
www/public/phpdoc/files/www-app-lib-repoadapterdw.html
www/public/phpdoc/files/www-app-lib-repoadapterlocal.html
www/public/phpdoc/files/www-app-lib-repouserdata.html
www/public/phpdoc/files/www-app-lib-sesion.html
www/public/phpdoc/files/www-app-lib-vistacomponentes.html
www/public/phpdoc/files/www-app-models-identificador.html
www/public/phpdoc/files/www-app-models-identificadordata.html
www/public/phpdoc/files/www-app-models-repositorio.html
www/public/phpdoc/files/www-app-models-repositoriodata.html
www/public/phpdoc/files/www-app-models-tiporepositorio.html
www/public/phpdoc/files/www-app-models-usuario.html
www/public/phpdoc/files/www-app-models-usuariodata.html
www/public/phpdoc/files/www-app-views-inc-footer.html
www/public/phpdoc/files/www-app-views-inc-header.html
www/public/phpdoc/files/www-app-views-paginas-admin-add-identificador.html
www/public/phpdoc/files/www-app-views-paginas-admin-add-usuario.html
www/public/phpdoc/files/www-app-views-paginas-admin-cambia-pass-codigo.html
www/public/phpdoc/files/www-app-views-paginas-admin-cambia-pass.html
www/public/phpdoc/files/www-app-views-paginas-admin-edit-identificador.html
www/public/phpdoc/files/www-app-views-paginas-admin-info-usuario.html
www/public/phpdoc/files/www-app-views-paginas-admin-lista-usuarios.html
www/public/phpdoc/files/www-app-views-paginas-admin-principal-admin.html
www/public/phpdoc/files/www-app-views-paginas-error.html
www/public/phpdoc/files/www-app-views-paginas-inicio.html
www/public/phpdoc/files/www-app-views-paginas-login.html
www/public/phpdoc/files/www-app-views-paginas-recuperacontrasenamail.html
www/public/phpdoc/files/www-app-views-paginas-registro.html
www/public/phpdoc/files/www-app-views-paginas-repoadmin-add-repositorio.html
www/public/phpdoc/files/www-app-views-paginas-repoadmin-import-usuarios.html
www/public/phpdoc/files/www-app-views-paginas-repoadmin-info-repositorio.html
www/public/phpdoc/files/www-app-views-paginas-repoadmin-lista-repositorios.html
www/public/phpdoc/files/www-app-views-paginas-repoadmin-principal-repoadmin.html
www/public/phpdoc/files/www-app-views-paginas-repoadmin-test-repositorio.html
www/public/phpdoc/files/www-app-views-paginas-user-descarga-fichero.html
www/public/phpdoc/files/www-app-views-paginas-user-principal-user.html
www/public/phpdoc/graphs/classes.html
www/public/phpdoc/indices/files.html
www/public/phpdoc/js/search.js
www/public/phpdoc/js/searchIndex.js
www/public/phpdoc/js/template.js
www/public/phpdoc/namespaces/default.html
www/public/phpdoc/namespaces/docweb-models.html
www/public/phpdoc/namespaces/docweb.html
www/public/phpdoc/packages/Application.html
www/public/phpdoc/packages/default.html
www/public/phpdoc/reports/deprecated.html
www/public/phpdoc/reports/errors.html
www/public/phpdoc/reports/markers.html
www/public/img/WebDoc.mp4
